body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:762px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u60_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#666666;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:40px;
  width:728px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#666666;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  white-space:nowrap;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:288px;
  height:10px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:96px;
  width:283px;
  height:5px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:107px;
  height:10px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:96px;
  width:102px;
  height:5px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:173px;
  height:10px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:96px;
  width:168px;
  height:5px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:111px;
  width:283px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:111px;
  width:102px;
  height:40px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:111px;
  width:168px;
  height:80px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:107px;
  height:10px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:96px;
  width:102px;
  height:5px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:111px;
  width:102px;
  height:80px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:283px;
  width:728px;
  height:42px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:16px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  word-wrap:break-word;
}
